body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

#home {
    background: linear-gradient(to right, #000000, #434343);
    color: white;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
}

/* SKILLS STYLE */
.skill-box {
    margin-bottom: 25px;
}

.skill-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 5px;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #e4e4e4;
    border-radius: 20px;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    background: linear-gradient(90deg, #000000, #555555);
    border-radius: 20px;
    animation: fillAnimation 2s ease-in-out;
}

@keyframes fillAnimation {
    from { width: 0; }
}

/* CARD EFFECT */
.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}